[Unit]
Description=Genie port-forward health monitor
Wants=network-online.target
After=network-online.target docker.service genie_cluster.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=5
ExecStart=/genie/check_port_forward/check_port_forward.sh

[Install]
WantedBy=multi-user.target
